{% extends "app_coder/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

<h1 style="font-size: 3rem;" class="masthead-heading mb-0">Sobre mí</h1>

<p style="font-size: 1.2rem; width: 32vw; text-align: justify;padding: 1rem;">
    Hola, me llamo Paloma Domínguez Estrada, tengo 21 años y soy de Berazategui, provincia de Buenos Aires. <br> En la actualidad me encuentro trabajando dando clases de inglés todas las tardes, formo parte de un maravilloso instituto el cual considero como mi hogar. <br> Muchas veces mi tarea no resulta nada sencilla ya que cargo con una gran responsabilidad que es la de enseñar un idioma y una cultura totalmente diferente a la nuestra, sin embargo doy lo mejor de mi en todo momento y trato de superarme día a día es por eso que desarrolle esta web, la misma supone una herramienta útil para la organización y almacenamiento de datos importantes. <br> En el futuro espero seguir formándome y aprendiendo nuevas tecnologías que seguramente podré aplicar en el área que más me interesa, la educación con el fin de facilitar diferentes tareas tanto a docentes como estudiantes.
</p>

{% endblock %}